@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#FBFBFC] text-slate-900 antialiased;
    font-family: system-ui, -apple-system, sans-serif;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/40 backdrop-blur-2xl border border-white/20 shadow-xl rounded-[2.5rem];
  }
}